@using Studienuebersicht.MVC
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/select.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://unpkg.com/select-pure@latest/dist/bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Brand-->
            <a class="navbar-brand" href="/">Intelligent Systems Design</a>

            <!-- Toggler/collapsable Button-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links-->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item @Html.ActiveClass("Home", "Index" )">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown @Html.ActiveClass("Semester", "Index,Edit" )">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> Semester </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Semester/1">1. Semester <span class="sr-only">(current)</span></a>
                            <a class="dropdown-item" href="/Semester/2">2. Semester <span class="sr-only">(current)</span></a>
                            <a class="dropdown-item" href="/Semester/3">3. Semester <span class="sr-only">(current)</span></a>
                            <a class="dropdown-item" href="/Semester/4">4. Semester <span class="sr-only">(current)</span></a>
                            <a class="dropdown-item" href="/Semester/5">5. Semester <span class="sr-only">(current)</span></a>
                            <a class="dropdown-item" href="/Semester/6">6. Semester <span class="sr-only">(current)</span></a>
                            <a class="dropdown-item" href="/Semester/7">7. Semester <span class="sr-only">(current)</span></a>
                        </div>
                    <li class="nav-item @Html.ActiveClass("Grades", "Index" )">
                        <a class="nav-link" href="/Grades">All Grades</a>
                    </li>
                    <li class="nav-item @Html.ActiveClass("ToDo", "Index,Current" )">
                        <a class="nav-link" href="/ToDo">Still To Do</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @if (Context.Items["account"] != null)
                        {
                            <a class="nav-link" href="/Authentication/Logout">Logout</a>
                        }
                        else
                        {
                            <a class="nav-link" href="/Authentication/Login">Login</a>
                        }
                    </li>
                </ul>
            </div>
        </nav>
        @RenderBody()
    </div>
</body>
</html>